.menu {
    list-style: none;
    padding: 60px 0;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    color: var(--secondary);
}

.links {
    font-weight: 600;
    color: var(--secondary);
}
