.randomJoke {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.btn {
    padding: 10px 10px;
    width: 160px;

    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: var(--secondary);

    text-transform: uppercase;
    font-weight: 600;

    transition: 0.2s all;
}

.btn:active {
    background: var(--primary);
}

.joke {
    position: relative;
    padding: 20px;

    min-height: 270px;
    
    border-radius: 10px;
    border: 2px solid var(--white);
    
    color: var(--secondary);
    font-weight: 600;
    font-size: 36px;
}

.joke svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    fill: var(--secondary);       
}

