* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #000;
  display: grid;
  grid-template-rows: 120px 1fr 10%;
  
  overflow-x: hidden;
  height: 100vh;

  font-family: sans-serif;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: rgb(87, 197, 87);
  --white: white;
  --black: #1c1c1c;
  --yellow: rgb(242, 242, 20);
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  
  margin: 0 auto;
}