.links {
    list-style: none;
    display: flex;
    gap: 40px;  
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}


.links a {
    text-decoration: underline;
    text-underline-offset: 20%;
    color: var(--black);
    font-weight: 500;
    
    transition: 0.2s all;
}

.links a:hover {
    text-underline-offset: 40%;
} 

